/* this is how a font-face rule usually looks like */
@font-face {
    font-family: 'Alegreya';
    
	src: url('../font/Exo 2/Exo 2.0-Thin-webfont.eot'); /* IE9 Compat Modes */
	src: url('../font/Exo 2/Exo 2.0-Thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/Exo 2/Exo 2.0-Thin-webfont.woff') format('woff'), /* Modern Browsers */
		url('../font/Exo 2/Exo 2.0-Thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../font/Exo 2/Exo 2.0-Light-webfont.svg#exo_2.0light') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* the fix ! simply ADD this block BELOW the above block */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Alegreya';
            src: url('../font/Exo 2/Exo 2.0-Light-webfont.svg#exo_2.0light') format('svg');
    }
}


*:focus {
    outline: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
html,body {
	margin:0;
	padding:0px;
	background: #000;
	color:#fff;
	font-family: sans-serif;
	position: relative;
}
html {
	/*height: 100%;*/
	overflow-y: scroll;
}
body {
	min-height: 100%;
}
#wrapper {
	width: 960px;
	margin:0 auto 100px;
	position: relative;
}
#header {
	height: 25px;
}
#header h1 {
	display: inline-block;
	color:#fff;
	font-family: 'Exo 2', sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 25px;
	text-transform: uppercase;
	text-align: left;
	margin: 0 0 0 6px;
	padding: 0;
	text-rendering: optimizelegibility;
}
#footer {
	border-top: 1px solid #333;
}
#footer h5 {
	color:#fff;
	font-family: 'Exo 2', sans-serif;
	font-size: 1.3em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-rendering: optimizelegibility;
}
/**************** ALGORITHM ****************/
#algorithms {
	width:960px;
}


#algorithms div.algorithm {
	width:100%;
	/*height:400px;*/
	/*border:1px solid #333;*/
	position: relative;
	float: left;
	margin: 20px 0;
	border: 1px solid #000;
	padding: 10px 0 20px;
}
#algorithms div.algorithm:hover {
	border: 1px solid #111;
}
#algorithms.size1 div.algorithm {
	width: 99%;
}
#algorithms.size2 div.algorithm {
	width: 49%;
}
#algorithms.size3 div.algorithm {
	width: 32%;
}
#algorithms.size5 div.algorithm {
	width: 20%;
}
#algorithms div.algorithm div.loading {
	position: absolute;
	z-index: 9999;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color:rgba(0,0,0,0.75);
}
#algorithms div.algorithm h2 {
	/*position: absolute;*/
	bottom:10px;
	left: 0px;
	width: 100%;
	text-align:center;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight: 100;
	font-size: 1.55em;
	margin: 0;
	padding: 0;
}
#algorithms.size2 div.algorithm h2 {
	font-size: 1.25em;
}
#algorithms.size3 div.algorithm h2 {
	font-size: 1.1em;
}
#algorithms.size5 div.algorithm h2 {
	font-size: 12px;
}
#algorithms div.algorithm:hover h2 {
	color: gold;
}
#algorithms div.algorithm h2 span {
	color:#fff;
	text-transform: none;
}
.algorithm > div {
	margin:0 auto;
}
/***************** ADD **********************/
/*
#algorithms div#add.algorithm {
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
	font-weight: 100;
	border: 1px solid #111;
	min-height: 166px;
}
#algorithms div#add.algorithm.collapsed {
	border: 1px solid #000;
}
#algorithms div#add.algorithm.collapsed:hover {
	border: 1px solid #111;
}
#add.collapsed * {
	display: none;
}
#add h5,
#add h4 {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color:gold;
}
#add h4 {
	width: 100%;
	font-size:1.2em;
	text-align: center;
	color:#fff;
}
#add h4,
#add.collapsed h4 {
	display: none;
}
#add.collapsed:hover h4 {
	display: block;
}
#add a.plus,
#add.collapsed a.plus,
#add a.generate {
	display: block;
	width:30px;
	height: 30px;
	margin: 20px auto;
	padding:10px;
	border: 4px solid #ccc;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#ccc;
	font-size: 30px;
	font-weight: 800;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
}
#add.collapsed a.generate {
	display: none;
}
#add a.plus:hover,
#add a.generate:hover {
	color:gold;
	border: 4px solid gold;
}
#add ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#add ul a {
	color:#fff;
	text-decoration: none;
}
#add ul a:hover {
	color:#ccc;
	text-decoration: none;
}
#add ul#algs {
	width: 94%;
	padding: 10px 0;
}
#add ul#algs li {
	float: left;
	width: 40%;
	text-align: center;
	text-transform: uppercase;
	line-height: 18px;
	margin: 2px 10px;
}
#add ul#algs li:nth-child(even) {
	float: right;
}
#add ul#algs li a {
	display: block;
	text-align:left;
	border:2px solid #000;
}
#add ul#algs li:nth-child(even) a {
	text-align: right;
}
#add ul#algs li a.selected {
	font-weight: 100;
	border:2px solid #fff;
}
#add ul#colors li,
#add ul#items li {
	float:left;
	margin:0 10px;
	display: block;
	min-width:24px;
	height: 24px;
	line-height: 20px;
}
#add ul#colors li a,
#add ul#items li a {
	display: block;
	min-width:20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border:2px solid #000;
}
#add ul#colors li a:hover,
#add ul#items li a:hover {
	border:2px solid #fff;
}
#add ul#colors li a.selected,
#add ul#items li a.selected {
	border:2px solid #fff;
}
*/
/***************** ADD **********************/
#add {
	font-family: 'Exo 2', sans-serif;
	font-weight: 100;
	font-size: 1.05em;
	position: relative;
}
#add #form {
	overflow: hidden;
	height: 800px;
	border: 1px solid #666;
	-webkit-transition: height 500ms;
	-moz-transition: height 500ms;
	-ms-transition: height 500ms;
	-o-transition: height 500ms;
	transition: height 500ms;
	padding:0px;
}
#add #form>div {
	margin:10px;
	position: relative;
}
#add.collapsed #form {
	height: 0px;
	border: 1px solid transparent;
}
#add h5,
#add h4 {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color:gold;
}
#add h5 {
	font-size: 1.2em;
	margin-bottom: 15px;
	border-bottom: 1px solid #333;
}

#add a {
	color:#fff;
	text-decoration: none;
}
#add a:hover {
	color:gold;
	text-decoration: none;
}

#add #form a.close{
	position: absolute;
	top:0px;
	right:0px;
	text-align: right;
	text-transform: uppercase;
}

#add a.plus,
#add.collapsed a.plus,
#add a.generate {
	font-family: sans-serif;
	display: block;
	width: 300px;
	margin: 5px auto;
	text-align: center;
	text-decoration: none;
	padding-top: 2px;
}

#add a.plus {
	overflow: hidden;
	height: 0;
	-webkit-transition: height 500ms linear;
	-moz-transition: height 500ms linear;
	-ms-transition: height 500ms linear;
	-o-transition: height 500ms linear;
	transition: height 500ms linear;
}
#add.collapsed a.plus {
	height:100px;
}

#add a.plus h4,
#add a.generate h4,
#add a.generate:hover h4 {
	display: block;
	visibility: hidden;
	width: 100%;
	font-size:1.2em;
	text-align: center;
	color:gold;
	font-family: 'Exo 2', sans-serif;
	font-weight: 100;
}

#add a.generate h4 {
	visibility: visible !important;
	color:#666;
}
#add.collapsed a:hover h4 {
	visibility: visible !important;
}
#add a.plus span,
#add a.generate span {
	display: block;
	margin: 5px auto;
	width:30px;
	height: 30px;
	padding:10px;
	border: 4px solid #333;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color:#333;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
}
#add a.generate span i {
	margin-left:-5px;
}
#add.collapsed a.generate {
	display: none;
}
#add a.plus:hover span,
#add a.generate:hover span {
	color:gold;
	border: 4px solid gold;
}
#add ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#add ul#algs {
	width: 100%;
	padding: 10px 0;
}
#add ul#algs li {
	float: left;
	width: 19.8%;
	text-align: center;
	text-transform: uppercase;
	line-height: 18px;
	margin: 2px 0.1%;

}
#add ul#algs li a {
	display: block;
	text-align:center;
	border:2px solid #000;
	min-height: 101px;
	padding:5px 0;
	font-family: sans-serif;
	font-size: 12px;
	color:#f0f0f0;
}
#add ul#algs li a:hover {
	border:2px solid #fff;
}
#add ul#algs li a.selected {
	color:#fff;
	border:2px solid #fff;
}
#add ul#algs li span {
	width:142px;
	height:74px;
	display: block;
	margin: 0 auto;
	background: transparent url(../img/charts.png) no-repeat;
}
#add ul#colors li,
#add ul#items li {
	float:left;
	margin:0 10px;
	display: block;
	min-width:40px;
	height: 40px;
	line-height: 30px;
}
#add ul#colors li a,
#add ul#items li a {
	display: block;
	min-width:36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border:2px solid #000;
	font-size: 1.2em;
}
#add ul#colors li a:hover,
#add ul#items li a:hover {
	border:2px solid #fff;
}
#add ul#colors li a.selected,
#add ul#items li a.selected {
	color:#fff;
	border:2px solid #fff;
}
/***************** ALGS FOR MENU *********************/

#add ul#algs li a.QuickSort span {
	background-position: 0 0;
}
#add ul#algs li a.QuickSort2 span {
	background-position: 25% 0;
}
#add ul#algs li a.HeapSort span {
	background-position: 50% 0;
}
#add ul#algs li a.MergeSort span {
	background-position: 75% 0;
}
#add ul#algs li a.SmoothSort span {
	background-position: 100% 0;
}
#add ul#algs li a.RadixSort span {
	background-position: 0 50%;
}
#add ul#algs li a.ShellSort span {
	background-position: 25% 50%;
}
#add ul#algs li a.CycleSort span {
	background-position: 50% 50%;
}
#add ul#algs li a.SelectionSort span {
	background-position: 75% 50%;
}
#add ul#algs li a.InsertionSort span {
	background-position: 100% 50%;
}
#add ul#algs li a.GnomeSort span {
	background-position: 0 100%;
}
#add ul#algs li a.CombSort span {
	background-position: 25% 100%;
}
#add ul#algs li a.BubbleSort span {
	background-position: 50% 100%;
}
#add ul#algs li a.CocktailSort span {
	background-position: 75% 100%;
}
#add ul#algs li a.OddEvenSort span {
	background-position: 100% 100%;
}
/***************** SVG *********************/
svg path {
	stroke-opacity: 0.6;
	stroke-width: 1.3;
	fill: none;
	stroke: #ffffff;
	shape-rendering: optimizeSpeed;
}
svg .visible path {
	stroke-opacity:0.6;
}
path.highlight {
	stroke-opacity:1;
	stroke-width:2;
}
svg circle {
	fill:#fff;
	fill-opacity:0.6;
	stroke:none;
	stroke-opacity:0;
	stroke-width:0;

	-webkit-transition: fill 0.25s linear,fill-opacity 0.25s linear;
	-moz-transition: fill 0.25s linear,fill-opacity 0.25s linear;
	-ms-transition: fill 0.25s linear,fill-opacity 0.25s linear;
	-o-transition: fill 0.25s linear,fill-opacity 0.25s linear;
	transition: fill 0.25s linear,fill-opacity 0.25s linear;

}
svg .swap circle {
	stroke-opacity:0;
	fill-opacity:1;
	fill:#ff009e !important;
}
svg .circle text {
	fill:#ddd;
	font-size: 9px;
	font-family: Arial;
	fill-opacity:0.5;
	text-anchor:middle;
}
svg .circle.memory circle,
svg .circle.memory text {
	fill-opacity:0;
}
svg #temp g * {
	fill-opacity:0;
}
svg #temp g.visible * {
	fill-opacity:0.6;
}
svg #temp text {
	fill:#ddd;
	font-size: 9px;
	font-family: Arial;
	text-anchor:middle;
}
svg #indicators.hidden {
	fill-opacity:0;
}
.hidden #circles,
.hidden #indicators,
.hidden #temp {
	display: none;
}
/**
 * Dragdealer.js 0.9.6
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Chereche»ô
 * http://skidding.mit-license.org
 */

.dragdealer {
	position: relative;
	height: 16px;
	background: #000;
	width: 80%;
	margin:0 auto;
}
.algorithm .dragdealer {
	opacity: 0.1;
	-webkit-transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	-ms-transition: opacity 500ms linear;
	-o-transition: opacity 500ms linear;
	transition: opacity 500ms linear;
}
.algorithm:hover .dragdealer {
	opacity: 0.8;
}
.dragdealer .bg-dragdealer {
	position: absolute;
	top:8px;
	width: 100%;
	height:1px;
	background: #f0f0f0;
}
.dragdealer .handle {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.dragdealer .bar {
	width: 12px;
	height: 12px;

	background: #CC0000;
	color: #FFF;
	font-size: 14px;
	line-height: 30px;
	text-align: center;

	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	background-color:#000;
	border:2px solid #f0f0f0;
}

.dragdealer .disabled {
	background: #898989;
}
.dragdealer .handle span {
	position: absolute;
	font-size: 11px;
	text-transform: uppercase;
	top: 8px;
	left: -29px;
	width: 70px;
	text-align: center;
}

#mainslider {
	width:200px;
	height: 20px;
}
#mainslider .bar {
	width: 16px;
	height: 16px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#mainslider .bg-dragdealer {
	position: absolute;
	top:10px;
	width: 100%;
	height:1px;
	background: #f0f0f0;
}
#mainslider .handle span {
	position: absolute;
	font-size: 9px;
	text-transform: uppercase;
	top:10px;
	left:-25px;
	width: 70px;
	text-align: center;
}


#controls {
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	height:80px;
	background-color:rgba(0,0,0,0.8);
	color:#fff;
	border-top: 1px solid rgba(255,255,255,0.2);
	text-align: center;
}
#controls div {
	margin: 5px auto;
}
#controls span {
	min-width: 30px;
	/*display: block;
	float: left;*/
	text-align: center;
}
#controls ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width:150px;
	display: block;
	height: 32px;
}
#controls ul li {
	float: left;
}
#controls a {
	color:#fff;
	text-decoration: none;
	float: left;
	display: block;
	width:50px;
	font-size: 22px;
}
#controls a:hover {
	color:gold;
}
#controls a#play i.icon-play,
#controls a#play.play i.icon-pause {
	display: inline-block;
}
#controls a#play.play i.icon-play,
#controls a#play i.icon-pause {
	display: none;
}
#controls a#play.play span.play,
#controls a#play span.pause{
	display: none;
}
#controls a#play span.play,
#controls a#play.play span.pause {
	display: block;
}
#controls a span {
	display: block;
	font-size: 9px;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	color:#666;
}
#controls a:hover span {
	color:gold;
}
#controls ul.colors {
	list-style: none;
	margin: 0;
	padding: 0;
}

#controls ul.colors li {
	display: block;
	width: 10px;
	height: 10px;
	margin:0 2px;
	background-color: #fff;
}

#header ul#layout {
	list-style: none;
	float: right;
	margin: 6px 12px 0 0;
	padding: 0;
}
#header ul#layout li {
	float: left;
	display: block;
	width: 18px;
	height: 24px;
	text-align: center;
}
#header ul#layout a {
	display: block;
	color:#fff;
	text-decoration: none;
	/*float: left;
	display: block;*/
}
#header ul#layout li.title {
	width: auto;
	font-size: 12px;
	line-height: 18px;
	color:#666;
	margin-right: 5px;
}
#header ul#layout a:hover {
	color:gold !important;
}
#header ul#layout a.selected {
	color: gold !important;
}
#header ul#layout li a.size[rev='1'] {
	font-size: 13px;
}
#header ul#layout li a.size[rev='2'] {
	font-size: 11px;
	margin-top: 1px;
}
#header ul#layout li a.size[rev='3'] {
	font-size: 11px;
	margin-top: 1px;
}
#header ul#layout li.sep {
	width: 1px;
	margin-right: 10px;
	margin-left: 10px;
}
#header ul#layout li.sep span{
	border-left:1px solid #666;
}
#header ul#layout li a.items {
	font-size: 21px;
	line-height: 18px;
	color:#666;
}
#header ul#layout li a.items.selected {
	line-height: 17px;
	font-weight: bold;
}
